{% extends 'owner/panel.html' %}

{% block title_bar %} Nueva finca {% endblock %}

{% block cont_dash %}
<form id="regForm" action="{{ url_for('BP_Owner.create_finca') }}" method="POST" style="padding: 2%">
    
    <div style="margin-top: 3vh; margin-bottom: 3vh">
        <label>Datos de la finca</label>
        <hr />
    </div>

    <div class="sam-form-container">
        <div class="sam-form-field">
            <input type="text" id="nombre" placeholder=" " name="nombre" required />
            <label class="itim-regular"> Nombre</label>
        </div>

        <div class="sam-form-field">
            <input type="number" id="capacidad" placeholder=" " name="capacidad" required />
            <label class="itim-regular">Capacidad máxima de ganados</label>
        </div>

        <div class="sam-form-field">
            <input type="text" id="descrip" placeholder=" " name="descrip" />
            <label class="itim-regular">(Opcional) - Descripción de la finca</label>
        </div>
    </div>

    <div style="margin-top: 3vh; margin-bottom: 3vh">
        <label>Ubicación</label>
        <hr />
    </div>

    <div class="sam-form-container">
        <div class="sam-form-field">
            <select id="paises" name="paises" required onchange="selectPais()">
                <option value="" disabled selected>Selecciona el pais</option>
            </select>
        </div>
        <div class="sam-form-field">
            <select id="estados" name="estados" required onchange="selectEstado()" disabled="true">
                <option value="" disabled selected>Selecciona el estado</option>
            </select>
        </div>
        <div class="sam-form-field">
            <select id="municipios" name="municipios" required onchange="selectMunicipio()" disabled="true">
                <option value="" disabled selected>Selecciona el municipio</option>
            </select>
        </div>

        <div class="sam-form-field">
            <select id="id_colonia" name="id_colonia" required disabled="true">
                <option value="" disabled selected>Selecciona la colonia</option>
            </select>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Registrar</button>
</form>

<script>
    addSwalAlertCre("regForm", "/create_finca");
    function addSwalAlertCre(id, endpoint) {
        document.getElementById(id).addEventListener("submit", function (event) {
        event.preventDefault(); // Evita que la página se recargue

        let formData = new FormData(this);

        fetch(endpoint, {
            method: "POST",
            body: formData,
            headers: {
                Authorization: "Bearer " + token,
            },
        })
        .then((response) => {
            if (response.status === 401) {
                // Si el token ha expirado
                return response.json().then((data) => {
                    Swal.fire({
                        title: "Sesión expirada",
                        text: data.error,
                        icon: "info",
                        confirmButtonText: "Aceptar",
                    }).then(() => {
                        window.location.href = "/"; // Redirige después del alert
                    });
                });
            } else if (response.status === 400) {
                // Si es 400
                return response.json().then((data) => {
                    Swal.fire({
                        title: "Un error a ocurrido",
                        text: data.error,
                        icon: "warning",
                        confirmButtonText: "Aceptar",
                    });
                });
            } else if (response.status === 200) {
                // Si es 400
                return response.json().then((data) => {
                    document.getElementById("regForm").reset();
                    Swal.fire({
                        title: "Nueva finca registrada",
                        text: data.msg,
                        icon: "success",
                    });
                });
            }
        })
        .then((data) => { });
    });
    }

    fetch("/get-paises", { method: "GET" })
        .then((response) => response.json())
        .then((data) => {
            console.log(data);
            // Llenar el select con las opciones de los países
            let selectPais = document.getElementById("paises");
            data.forEach((estado) => {
                let option = document.createElement("option");
                option.value = estado.id;
                option.textContent = estado.nom;
                selectPais.appendChild(option);
            });
        });

        fetch("/get-all-fincas", { 
            method: "GET",
            headers: { "Authorization": "Bearer " + token }
        })
        .then((response) => response.json())
        .then((data) => {
            console.log(data);
            // Llenar el select con las opciones de los países
            let fincas = document.getElementById("finca_id");
            data.forEach((finca) => {
                let option = document.createElement("option");
                option.value = estado.id;
                option.textContent = estado.nombre;
                fincas.appendChild(option);
            });
        });

    // ################ SE CARGAN LOS DATOS DE LOS PAISES ################

    function selectPais() {
        let selectElement = document.getElementById("paises");
        let pais_id = selectElement.value;

        fetch("/get-estados/" + pais_id, {
            method: "GET",
        })
            .then((response) => response.json())
            .then((data) => {
                console.log(data);
                // Llenar el select con las opciones de los países
                let selectEst = document.getElementById("estados");
                selectEst.innerHTML =
                    '<option value="" disabled selected>Selecciona el estado</option>';
                data.forEach((estado) => {
                    let option = document.createElement("option");
                    option.value = estado.id;
                    option.textContent = estado.nom;
                    selectEst.appendChild(option);
                });
                selectEst.disabled = false;
            });
    }

    // ################ SE CARGAN LOS DATOS DE LOS ESTADOS ################

    function selectEstado() {
        let selectElement = document.getElementById("estados");
        let estado_id = selectElement.value;

        fetch("/get-municipios/" + estado_id, {
            method: "GET",
        })
            .then((response) => response.json())
            .then((data) => {
                console.log(data);
                // Llenar el select con las opciones de los países
                let selectMun = document.getElementById("municipios");
                selectMun.innerHTML =
                    '<option value="" disabled selected>Selecciona el municipio</option>';
                data.forEach((mun) => {
                    let option = document.createElement("option");
                    option.value = mun.id;
                    option.textContent = mun.nom;
                    selectMun.appendChild(option);
                });
                selectMun.disabled = false;
            });
    }

    function selectMunicipio() {
        let selectElement = document.getElementById("municipios");
        let mun_id = selectElement.value;

        fetch("/get-colonias/" + mun_id, {
            method: "GET",
        })
            .then((response) => response.json())
            .then((data) => {
                console.log(data);
                // Llenar el select con las opciones de los países
                let selectCol = document.getElementById("id_colonia");
                selectCol.innerHTML =
                    '<option value="" disabled selected>Selecciona la colonia</option>';
                data.forEach((col) => {
                    let option = document.createElement("option");
                    option.value = col.id;
                    option.textContent = col.nom;
                    selectCol.appendChild(option);
                });
                selectCol.disabled = false;
            });
    }

</script>

{% endblock %}