<header id="main-header" class="bg-black text-white shadow-md left-0 top-0 w-full transition-all z-50" style="max-width: 100%;">
  <div class="container mx-auto flex items-center justify-between px-6 py-4">

    <!-- Logo -->
    <a href="/" class="text-2xl font-semibold flex items-center gap-2">
      <img src="/logo_herrado.png" alt="Logo" class="h-10">
      <span class="big-shoulders-stencil-900" style="font-size: 24px;">El herrado</span>
    </a>

    <!-- Menú de Navegación (Escritorio) -->
    <nav class="hidden md:flex space-x-8 z-50">
      <a href="/" class="hover:text-yellow-100 transition">Inicio</a>
      <a href="#servicios" class="hover:text-yellow-100 transition">Servicios</a>
      <a href="#precios" class="hover:text-yellow-100 transition">Precios</a>
      <a href="/contact" class="hover:text-yellow-100 transition">Contáctanos</a>
    </nav>

    <!-- Botón de Iniciar Sesión (Escritorio) -->
    <a href="/login" class="fira-sans-semibold hidden md:block bg-white text-black px-4 py-2 rounded-md hover:bg-black transition">
      Iniciar Sesión
    </a>

    <!-- Botón de Menú (Móvil) -->
    <button id="menuButton" class="md:hidden focus:outline-none" style="width: fit-content;">
      <i class="material-icons">menu</i>
    </button>
  </div>

  <!-- Menú Desplegable (Móvil) -->
  <div class="md:hidden transition-all duration-300 ease-in-out bg-gray-800 hidden z-50">
    <nav class="flex flex-col items-center py-4 space-y-4 z-50">
      <a href="/" class="text-white hover:text-yellow-400" onclick="hideNav()">Inicio</a>
      <a href="#precios" class="text-white hover:text-yellow-400" onclick="hideNav()">Precios</a>
      <a href="#servicios" class="text-white hover:text-yellow-400" onclick="hideNav()">Servicios</a>
      <a href="/contact" class="text-white hover:text-yellow-400" onclick="hideNav()">Contáctanos</a>
      <a href="/login" class="bg-white text-black px-4 py-2 rounded-md font-semibold hover:bg-white-600" onclick="hideNav()">
        Iniciar Sesión
      </a>
    </nav>
  </div>
</header>
