.content {
  color: white;
  background-color: #000000;
  background-image: url("/fondo_black.jpg");
  background-repeat:no-repeat;
  background-size: contain;
  background-position-x: right;
}

.bottom-header button:hover {
  background-color: #5a4438;
}

@media (min-width: 768px) {
  .bottom-header h1{
    font-size: 24px
  }
  .bottom-header button {
    color:rgb(0, 0, 0);
    display: flex;
    padding: 15px;
    margin-top: 3vh;
    padding-right: 35px;
    padding-left: 35px;
    color: white;
    background-color: #7b6152;
  }
  .bottom-header a:hover {
    cursor:default;
  }
  .bottom-header button label:hover {
    cursor: pointer;
  }
}

.groupTransitionSlide p {
  transition: 0.2s;
  opacity: 0;
}
.groupTransitionSlide:hover p {
  transition: 0.2s;
  opacity: 100;
}