#nav_init {
    padding: 15px;
    background-color: rgb(26, 26, 26);
    color: white;
}

.productos {
    margin-top: 15px;
    background-color: rgb(47, 47, 47);
}

.cuerpo {
    margin-top: 15px;
    background-color: rgb(44, 44, 44);
}


.img__herrero {
    width: 150vh;
}