<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Cargar el archivo CSS desde la carpeta static -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script href="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
    <title>El herrero</title>
</head>
<body class="container">
    <div class="row" style="background-color: black; box-shadow: 0px 0px 10px 0px black;">
      <div class="col">
        <!--Logo-->
        <a href="/login" class="">
          <img class="img__herrero" src="/img/logo.jpg" alt="logo">
        </a>
      </div>
      <div class="col">
        <nav class="navegacion-principal">
          <!--Navegación-->
          <div class="nav-normal">
            <a class="navegacion__enlace">Inicio</a>
            <a class="navegacion__enlace">Soluciones</a>
            <a class="navegacion__enlace">Tecnología</a>
            <a class="navegacion__enlace">Contacto</a>
          </div>
        </nav>
      </div>
      <div class="col text-end" style="padding: 1%;">
          <button class="btn btn-light">
            Ingresar</button>
      </div>
    </div>
    
      <div class="row" style="height: 55vh; border: 3px solid rgb(255, 47, 255);">
        <div class="col" style="padding: 5%; border: 3px solid rgb(255, 241, 47)">
          <h6 class="blog__txt" style="color: #6b4b00;">Cada ganado es ganacia</h6>
          <h2 style="text-align: left; font-weight: bold;">
            Control y gestión eficiente de ganado
          </h2>
          <p class="blog__txt">
            El herrero es un sistema inteligente que te lleva de la mano en todo el proceso de crianza del ganado.
          </p>
          <button class="btn btn-principal" style="color: aliceblue; display: flex; padding: 15px; padding-right: 25px; padding-left: 35px; background-color: rgb(77, 7, 83);">
            Comenzar ahora ->
          </button>
        </div>
        <div class="col text-center" style="border: 3px solid rgb(255, 241, 47)">
          <img src="/img/logo_2.jpg" alt="logo_2" height="330vh" style="margin: 3%;">
        </div>
      </div>
      <div class="row">
        <div class="col">
          Servicios
        </div>
      </div>
</body>
</html>