{% extends 'veterinary/panel.html' %} {% block title_bar %} Registro de
tratamientos {% endblock %} {% block cont_dash %}
<form
  id="regForm"
  action="{{ url_for('BP_Veterinary.registro_chequeo') }}"
  method="POST"
  style="padding: 2%"
>
  <div style="margin-bottom: 3vh">
    <label>Datos del chequeo</label>
    <hr />
  </div>
  <!-- DATOS IMPORTANTES DEL TRATAMIENTO -->

  <div class="sam-form-container">
    <!--here-->
    <div class="sam-form-field">
      <input type="number" id="id" placeholder=" " name="id" required />
      <label class="itim-regular">Clave del chequeo</label>
    </div>
    <div class="sam-form-field">
      <input type="text" id="rfc_vet" placeholder=" " name="rfc_vet" required />
      <label class="itim-regular">rfc veterinario</label>
    </div>
    <div class="sam-form-field">
      <input
        type="number"
        id="no_arete"
        placeholder=" "
        name="no_arete"
        required
      />
      <label class="itim-regular">Número de arete</label>
    </div>
    <div class="sam-form-field">
      <input type="number" id="peso" placeholder=" " name="peso" required />
      <label class="itim-regular">Peso(kg)</label>
    </div>
    <div class="sam-form-field">
      <input
        type="number"
        id="frec_card"
        placeholder=" "
        name="frec_card"
        required
      />
      <label class="itim-regular">Frecuencia cardiaca</label>
    </div>
    <div class="sam-form-field">
      <input
        type="number"
        id="temp_corp"
        placeholder=" "
        name="temp_corp"
        required
      />
      <label class="itim-regular">Temperatura corporal</label>
    </div>
    <div class="sam-form-field">
      <input type="date" id="fech" placeholder=" " name="fech" required />
      <label class="itim-regular">Fecha de nacimiento</label>
    </div>
    <div class="sam-form-field">
      <input type="text" id="observ" placeholder=" " name="observ" required />
      <label class="itim-regular">Observaciones</label>
    </div>
  </div>
  <button class="btn btn-primary" color="primary" type="submit">
    Registrar
  </button>
</form>

<script>
  addSwalAlertCre("regForm", "/registro_chequeo");
  function addSwalAlertCre(id, endpoint, url_redir) {
    document.getElementById(id).addEventListener("submit", function (event) {
      event.preventDefault(); // Evita que la página se recargue

      let formData = new FormData(this);

      fetch(endpoint, {
        method: "POST",
        body: formData,
        headers: {
          Authorization: "Bearer " + token,
        },
      })
        .then((response) => {
          if (response.status === 401) {
            // Si el token ha expirado
            return response.json().then((data) => {
              Swal.fire({
                title: "Sesión expirada",
                text: data.error,
                icon: "info",
                confirmButtonText: "Aceptar",
              }).then(() => {
                window.location.href = "/"; // Redirige después del alert
              });
            });
          } else if (response.status === 400) {
            // Si es 400
            return response.json().then((data) => {
              Swal.fire({
                title: "Un error a ocurrido",
                text: data.error,
                icon: "warning",
                confirmButtonText: "Aceptar",
              });
            });
          } else if (response.status === 200) {
            // Si es 400
            return response.json().then((data) => {
              document.getElementById("regForm").reset();
              Swal.fire({
                title: "Chequeo registrado",
                text: data.msg,
                icon: "success",
              });
            });
          }
        })
        .then((data) => {});
    });
  }
</script>
{% endblock %}
