{% extends 'veterinary/panel.html' %} {% block title_bar %} Registro de
tratamientos {% endblock %} {% block cont_dash %}
<form
  id="regForm"
  action="{{ url_for('BP_Veterinary.registro_tratamiento') }}"
  method="POST"
  style="padding: 2%"
>
  <div style="margin-bottom: 3vh">
    <label>Datos del tratamiento</label>
    <hr />
  </div>
  <!-- DATOS IMPORTANTES DEL TRATAMIENTO -->

  <div class="sam-form-container">
    <!--here-->
    <div class="sam-form-field">
      <input type="number" id="id" placeholder=" " name="id" required />
      <label class="itim-regular">Clave del tratamiento</label>
    </div>
    <div class="sam-form-field">
      <input type="text" id="nombre" placeholder=" " name="nombre" required />
      <label class="itim-regular">Nombre del tratamiento</label>
    </div>
    <div class="sam-form-field">
      <input
        type="text"
        id="instrucciones"
        placeholder=" "
        name="instrucciones"
        required
      />
      <label class="itim-regular">Instrucciones</label>
    </div>
    <div class="sam-form-field">
      <input
        type="number"
        id="duracion"
        placeholder=" "
        name="duracion"
        required
      />
      <label class="itim-regular">Duracion en días</label>
    </div>
    <div class="sam-form-field">
      <input
        type="text"
        id="observaciones"
        placeholder=" "
        name="observaciones"
        required
      />
      <label class="itim-regular">Observaciones</label>
    </div>
  </div>
  <button class="btn btn-primary" color="primary" type="submit">
    Registrar
  </button>
</form>

<script>
  addSwalAlertCre("regForm", "/registro_tratamiento");
  function addSwalAlertCre(id, endpoint, url_redir) {
    document.getElementById(id).addEventListener("submit", function (event) {
      event.preventDefault(); // Evita que la página se recargue

      let formData = new FormData(this);

      fetch(endpoint, {
        method: "POST",
        body: formData,
        headers: {
          Authorization: "Bearer " + token,
        },
      })
        .then((response) => {
          if (response.status === 401) {
            // Si el token ha expirado
            return response.json().then((data) => {
              Swal.fire({
                title: "Sesión expirada",
                text: data.error,
                icon: "info",
                confirmButtonText: "Aceptar",
              }).then(() => {
                window.location.href = "/"; // Redirige después del alert
              });
            });
          } else if (response.status === 400) {
            // Si es 400
            return response.json().then((data) => {
              Swal.fire({
                title: "Un error a ocurrido",
                text: data.error,
                icon: "warning",
                confirmButtonText: "Aceptar",
              });
            });
          } else if (response.status === 200) {
            // Si es 400
            return response.json().then((data) => {
              document.getElementById("regForm").reset();
              Swal.fire({
                title: "Tratamiento registrado",
                text: data.msg,
                icon: "success",
              });
            });
          }
        })
        .then((data) => {});
    });
  }
</script>
{% endblock %}
